@page
@model SistemaSGI.Pages.Clientes.CrearModel
@{
    ViewData["Title"] = "Crear Cliente";
}

  <div class="container">
      <div class="row">
          <div class="col-8 offset-2">
              <div class="text-info">Crear Cliente</div>

              <form method="post">
                  <div class="mb-3">
                      <label asp-for="Cliente.nombre" class="form-label"></label>
                      <input asp-for="Cliente.nombre" class="form-control" />
                      <span asp-validation-for="Cliente.nombre" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Cliente.apellido" class="form-label"></label>
                      <input asp-for="Cliente.apellido" class="form-control" />
                      <span asp-validation-for="Cliente.apellido" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Cliente.documento" class="form-label"></label>
                      <input asp-for="Cliente.documento" class="form-control" />
                      <span asp-validation-for="Cliente.documento" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Cliente.direccion" class="form-label"></label>
                      <input asp-for="Cliente.direccion" class="form-control" />
                      <span asp-validation-for="Cliente.direccion" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Cliente.email" class="form-label"></label>
                      <input asp-for="Cliente.email" class="form-control" />
                      <span asp-validation-for="Cliente.email" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Cliente.telefono" class="form-label"></label>
                      <input asp-for="Cliente.telefono" class="form-control" />
                      <span asp-validation-for="Cliente.telefono" class="text-danger"></span>

                  </div>

                  <button type="submit" class="btn btn-primary ">crear Cliente</button>
              </form>
          </div>

      </div>
      <div class="row">
          <div class="col-6 ">
              <a asp-page="Index" class="btn btn-success"> Volver</a>
          </div>

      </div>
  </div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

