@page
@model SistemaSGI.Pages.Clientes.DetalleModel
@{
    ViewData["Title"] = "Detalle Cliente ";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info">Detalle Cliente: @Html.DisplayFor(m => m.Cliente.Id)</h2>
            <ul class="list-group">
                <li class="list-group-item">ID : @Html.DisplayFor(m => m.Cliente.Id)</li>
                <li class="list-group-item">Cliente : @Html.DisplayFor(m => m.Cliente.Nombre)</li>
            
            </ul>



        </div>

    </div>
    <div class="row">
        <div class="col-6 ">
            <a asp-page="Index" class="btn btn-success"> Volver</a>
        </div>

    </div>
</div>