@page
@model SistemaSGI.Pages.Inventarios.CrearModel
@{
    ViewData["Title"] = "Crear Bodega";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="text-info">Agregar Producto</div>

            <form method="post">
                <div class="mb-3">
                    <label asp-for="InventariosVm.Inventario.Nombre" class="form-label"></label>
                    <input asp-for="InventariosVm.Inventario.Nombre" class="form-control" />
                    <span asp-validation-for="InventariosVm.Inventario.Nombre" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="InventariosVm.Inventario.Categoria" class="form-label"></label>
                    <select asp-for="InventariosVm.Inventario.CategoriaId"
                            asp-items="@(new SelectList(Model.InventariosVm.ListaCategorias, "Id", "NombreCategoria") )" class="form-control"></select>
                    <span asp-validation-for="InventariosVm.Inventario.Categoria.NombreCategoria" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="InventariosVm.Inventario.Unidades" class="form-label"></label>
                    <input asp-for="InventariosVm.Inventario.Unidades" class="form-control" />
                    <span asp-validation-for="InventariosVm.Inventario.Unidades" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="InventariosVm.Inventario.Precio" class="form-label"></label>
                    <input asp-for="InventariosVm.Inventario.Precio" class="form-control" />
                    <span asp-validation-for="InventariosVm.Inventario.Precio" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="InventariosVm.Inventario._proveedor" class="form-label"></label>
                    <select asp-for="InventariosVm.Inventario.ProveedoresId"
                            asp-items="@(new SelectList(Model.InventariosVm.ListaProvedores,"Id","Nombre") )" class="form-control"></select>
                    <span asp-validation-for="InventariosVm.Inventario._proveedor" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="InventariosVm.Inventario.Marca" class="form-label"></label>
                    <input asp-for="InventariosVm.Inventario.Marca" class="form-control" />
                    <span asp-validation-for="InventariosVm.Inventario.Marca" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="InventariosVm.Inventario.Bodega" class="form-label"></label>
                    <select asp-for="InventariosVm.Inventario.BodegaId"
                            asp-items="@(new SelectList(Model.InventariosVm.ListaBodegas, "Id", "Codigo") )" class="form-control"></select>
                    <span asp-validation-for="InventariosVm.Inventario.Bodega" class="text-danger"></span>

                </div>

                <button type="submit" class="btn btn-primary "> Agregar Inventario</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-6 ">
            <a asp-page="Index" class="btn btn-success"> Volver</a>
        </div>

    </div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
