@page
@model SistemaSGI.Pages.Productoss.EliminarModel
@{
    ViewData["Title"] = "Eliminar Producto";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="text-info">Eliminar Producto</div>

            <form method="post">
                <input type="hidden" asp-for="ProductosVm.Productos.Id" />
                <div class="mb-3">
                    <label asp-for="ProductosVm.Productos.Nombre" class="form-label"></label>
                    <input asp-for="ProductosVm.Productos.Nombre" class="form-control"readonly />
                    <span asp-validation-for="ProductosVm.Productos.Nombre" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="ProductosVm.Productos.Categoria" class="form-label"></label>
                    <input asp-for="ProductosVm.Productos.CategoriaId"
                            asp-items="@(new SelectList(Model.ProductosVm.ListaCategorias,"Id","nombreCategoria") )" class="form-control"readonly/>
                    <span asp-validation-for="ProductosVm.Productos.Categoria.NombreCategoria" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="ProductosVm.Productos.Unidades" class="form-label"></label>
                    <input asp-for="ProductosVm.Productos.Unidades" class="form-control" readonly/>
                    <span asp-validation-for="ProductosVm.Productos.Unidades" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="ProductosVm.Productos.Precio" class="form-label"></label>
                    <input asp-for="ProductosVm.Productos.Unidades" class="form-control"readonly />
                    <span asp-validation-for="ProductosVm.Productos.Precio" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="ProductosVm.Productos.Precio" class="form-label"></label>
                    <input asp-for="ProductosVm.Productos.Precio"
                            asp-items="@(new SelectList(Model.ProductosVm.ListaProvedores,"Id","Nombre") )" class="form-control"readonly/>
                    <span asp-validation-for="ProductosVm.Productos._proveedor" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="ProductosVm.Productos.ProveedoresId" class="form-label"></label>
                    <input asp-for="ProductosVm.Productos.Marca" class="form-control"readonly />
                    <span asp-validation-for="ProductosVm.Productos.ProveedoresId" class="text-danger"></span>

                </div>

                <button type="submit" class="btn btn-primary "> Eliminar</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-6 ">
            <a asp-page="Index" class="btn btn-success"> Volver</a>
        </div>

    </div>
</div>


