@page
@model SistemaSGI.Pages.Administradores.CrearModel
@{
    ViewData["Title"] = "Crear Administrador";
}

  <div class="container">
      <div class="row">
          <div class="col-8 offset-2">
              <div class="text-info">Agregar Administrador</div>

              <form method="post">
                  <div class="mb-3">
                      <label asp-for="Administrador.Nombre" class="form-label"></label>
                      <input asp-for="Administrador.Nombre" class="form-control" />
                      <span asp-validation-for="Administrador.Nombre" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Administrador.Apellido" class="form-label"></label>
                      <input asp-for="Administrador.Apellido" class="form-control" />
                      <span asp-validation-for="Administrador.Apellido" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Administrador.Documento" class="form-label"></label>
                      <input asp-for="Administrador.Documento" class="form-control" />
                      <span asp-validation-for="Administrador.Documento" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Administrador.Direccion" class="form-label"></label>
                      <input asp-for="Administrador.Direccion" class="form-control" />
                      <span asp-validation-for="Administrador.Direccion" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Administrador.Email" class="form-label"></label>
                      <input asp-for="Administrador.Email" class="form-control" />
                      <span asp-validation-for="Administrador.Email" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Administrador.Telefono" class="form-label"></label>
                      <input asp-for="Administrador.Telefono" class="form-control" />
                      <span asp-validation-for="Administrador.Telefono" class="text-danger"></span>

                  </div>

                  <button type="submit" class="btn btn-primary "> Guardar cambios</button>
              </form>
          </div>

      </div>
      <div class="row">
          <div class="col-6 ">
              <a asp-page="Index" class="btn btn-success"> Volver</a>
          </div>

      </div>
  </div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

