@page
@model SistemaSGI.Pages.Administradores.DetalleModel
@{
    ViewData["Title"] = "Detalle Administrador ";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info">Detalle Administrador: @Html.DisplayFor(m => m.Administrador.Id)</h2>
            <ul class="list-group">
                <li class="list-group-item">ID : @Html.DisplayFor(m => m.Administrador.Id)</li>
                <li class="list-group-item">Administrador : @Html.DisplayFor(m => m.Administrador.nombre)</li>
            
            </ul>



        </div>

    </div>
    <div class="row">
        <div class="col-6 ">
            <a asp-page="Index" class="btn btn-success"> Volver</a>
        </div>

    </div>
</div>