@page
@model SistemaSGI.Pages.Companias.CrearModel
@{
    ViewData["Title"] = "Crear compañias";
}

  <div class="container">
      <div class="row">
          <div class="col-8 offset-2">
              <div class="text-info">Crear una nueva Compania</div>

              <form method="post">
                  <div class="mb-3">
                      <label asp-for="Compania.nit" class="form-label"></label>
                      <input asp-for="Compania.nit" class="form-control" />
                      <span asp-validation-for="Compania.nit" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Compania.nombre" class="form-label"></label>
                      <input asp-for="Compania.nombre" class="form-control" />
                      <span asp-validation-for="Compania.nombre" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Compania.direccion" class="form-label"></label>
                      <input asp-for="Compania.direccion" class="form-control" />
                      <span asp-validation-for="Compania.direccion" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Compania.email" class="form-label"></label>
                      <input asp-for="Compania.email" class="form-control" />
                      <span asp-validation-for="Compania.email" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Compania.web" class="form-label"></label>
                      <input asp-for="Compania.web" class="form-control" />
                      <span asp-validation-for="Compania.web" class="text-danger"></span>

                  </div>
                  <div class="mb-3">
                      <label asp-for="Compania.telefono" class="form-label"></label>
                      <input asp-for="Compania.telefono" class="form-control" />
                      <span asp-validation-for="Compania.telefono" class="text-danger"></span>

                  </div>
                  <button type="submit" class="btn btn-primary ">crear Compania</button>
              </form>
          </div>

      </div>
      <div class="row">
          <div class="col-6 ">
              <a asp-page="Index" class="btn btn-success"> Volver</a>
          </div>

      </div>
  </div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

