@page
@model SistemaSGI.Pages.Companias.EditarModel
@{
    ViewData["Title"] = "Editar Companias";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info">Editar Compania</h2>

            <form method="post">

                <input type="hidden" asp-for="Compania.Id" />
                <div class="mb-3">
                    <label asp-for="Compania.Nit" class="form-label"></label>
                    <input asp-for="Compania.Nit" class="form-control" />
                    <span asp-validation-for="Compania.Nit" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Compania.Nombre" class="form-label"></label>
                    <input asp-for="Compania.Nombre" class="form-control" />
                    <span asp-validation-for="Compania.Nombre" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Compania.Direccion" class="form-label"></label>
                    <input asp-for="Compania.Direccion" class="form-control" />
                    <span asp-validation-for="Compania.Direccion" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Compania.Email" class="form-label"></label>
                    <input asp-for="Compania.Email" class="form-control" />
                    <span asp-validation-for="Compania.Email" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Compania.Web" class="form-label"></label>
                    <input asp-for="Compania.Web" class="form-control" />
                    <span asp-validation-for="Compania.Web" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Compania.Telefono" class="form-label"></label>
                    <input asp-for="Compania.Telefono" class="form-control" />
                    <span asp-validation-for="Compania.Telefono" class="text-danger"></span>

                </div>
                <button type="submit" class="btn btn-primary ">Guardar cambios</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-6 ">
            <a asp-page="Index" class="btn btn-success"> Volver</a>
        </div>

    </div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

