@page
@model SistemaSGI.Pages.Proveedoress.DetalleModel
@{
    ViewData["Title"] = "Detalles";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info">Detalle Proveedores: @Html.DisplayFor(m => m.Proveedores.Id)</h2>
            <ul class="list-group">
                <li class="list-group-item">ID : @Html.DisplayFor(m => m.Proveedores.Id)</li>
                <li class="list-group-item">Proveedores : @Html.DisplayFor(m => m.Proveedores.Nombre)</li>
            
            </ul>



        </div>

    </div>
    <div class="row">
        <div class="col-6 ">
            <a asp-page="Index" class="btn btn-success"> Volver</a>
        </div>

    </div>
</div>